<li>  <%= link_to user.name, user %>
  　<% if user.image? %>
　　<%= image_tag(user.image.thumb.url , :class => "icon thumnail") %>
　<% else %>
　　<%= image_tag('http://f.st-hatena.com/images/fotolife/j/jimpeipei/20150617/20150617142712.gif?1434518841' , :class => "icon thumbnail") %>
　<% end %>


  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>